<h2 id="mainH">NUMER PALETY PROSZĘ!</h2>
<p id="mainP" class="text text-danger">Powinieneś użyć urządzenia mobilnego i zeskanować kod QR zlokalizowany na etykiecie palety (prawy górny róg).</p>
<img style="display: block; margin-top:20px; margin-left: auto; margin-right: auto;" src="~/content/qrExample.png" />
