    <div class="m-3">
        <img style="max-height: 20px;" src="~/content/mercor_logo.png" />
    
        <img style="height: 20px; margin: 5px;" src="~/content/pl.png" /> / <img style="height: 20px; margin: 5px;" src="~/content/uk.png" />
        <select id="languageSelect" style="min-width: 90px; min-height: 25px; text-align:center;" onchange="changeLanguage()">
            <option>PL</option>
            <option>EN</option>
        </select>
    </div>

